<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Welcome to Tiny Url Shortener!</h1>
      </div>
    </div>
    <div class="row second-row">
      <div class="col-4 d-flex justify-content-end">
        <h3>Shorten your Url:</h3>
      </div>
      <form>
        <div class="col-8 form-group">
          <input class="form-control" type="text" placeholder="www.google.com" @keydown.enter.prevent="enterPressed" ref="inputRef">
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import config from 'config';
import { eventBus } from '../main';
import axios from 'axios';

const inputRef = 'inputRef';

export default {
  methods: {
    enterPressed() {
      this.$refs[inputRef].innerHTML = '';
      axios.post(eventBus.backendUrl, {
        originalUrl: this.$refs[inputRef].value
      }).then(response => {
        eventBus.$emit('shortened', response.data.shortenUrl);
      });
    }
  }
}
</script>

<style scoped>

  .container {
    margin-top: 20vh;
    /* border: 3px solid red; */
  }

  .col {
    text-align: center;
  }

  h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
  }

  .second-row {
    margin-top: 7vh;
  }

  h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  input {
    background-color: #252526;
    width: 25vw;
    border-radius: 10px;
    /* box-shadow: 1px 1px 1px; */
    border-color: blue;
    /* color: white; */
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
  }

  input::placeholder {
    color: white;
    opacity: 0.5  ;
  }

  input:focus {
    border-color: none;
    background-color: #333;
    color: white;
  }
 

</style>