<template>
  <div class="container" v-if="shortened">
    <hr>
    <div class="row d-flex justify-content-center">
      <div class="col-4">
        <h3>{{ shortenedUrl }}</h3>
      </div>
    </div>
  </div>
</template>

<script>
import { eventBus } from '../main';


export default {
  data: function() {
    return {
      shortenedUrl: '',
      shortened: false
    }
  },
  created() {
    eventBus.$on('shortened', (shortenedUrl) => {
      const stringLength = 'http://localhost:8080'.length;
      this.shortenedUrl = eventBus.backendUrl.slice(0, eventBus.backendUrl.length - '/api/v1/url/shortener'.length) + shortenedUrl.slice(stringLength, shortenedUrl.length);
      this.shortened = true;
    });
  }
}
</script>

<style scoped>
  hr {
    background-color: white;
  }
</style>