<template>
  <div id="app">
    <div class="container">
      <app-header></app-header>
      <app-shortened></app-shortened>
    </div>
  </div>
</template>

<script>
import Header from './components/Header.vue';
import Shortened from './components/Shortened.vue';

export default {
  components: {
    'app-header': Header,
    'app-shortened': Shortened
  }
}
</script>

<style>

  * {
    background-color: #252526;
    color: white;
  }

</style>
